@font-face {
  font-family: GalaxiePolarisCondensed-Bold;
  src: url(../fonts/GalaxiePolarisCondensed-Bold-1.otf);
  font-weight: bold;
}

@font-face {
  font-family: luxurySaleFont4;
  src: url(../fonts/ProximaNovaAltCondensedLight.otf);
  font-weight: bold;
}

@font-face {
  font-family: luxurySaleFont5;
  src: url(../fonts/ProximaNovaAltCondensedExtrabold.otf);
  font-weight: bold;
}


@font-face {
  font-family: "Farfetch Basis";
  src: url(../fonts/ProximaNovaAltRegular.otf);
  font-weight: bold;
}



@font-face {
  font-family: Polaris-Bold;
  src: url(../fonts/GalaxiePolaris-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: luxurysale7;
  src: url(../fonts/ProximaNovaAltCondensedThin.otf);
}



@font-face {
  font-family:"Farfetch Basis";
  src:url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Regular.woff2) format("woff2"),
  url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Regular.woff) format("woff");
  font-display:swap;
  font-weight:400;
  font-style:normal
 }
 

body {
  font-size: 14px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  font-weight: 400;
  font-family: 'Farfetch Basis', sans-serif;
}



::selection {
  background-color: #222;
  color: #fff;
}


a:visited {
  background-color:none;
}

.luxury1{
  font-family: 'luxurysale7', sans-serif !important;
}

.luxury2{
  font-family: 'luxurySaleFont4', sans-serif !important;

}

.luxury3{
  font-family: 'luxurySaleFont5', sans-serif !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    font-weight: 500;
    font-family: 'luxurySaleFont5', sans-serif;
    color: #000000;
}

h5.text-uppercase.mt-n3 { margin-top: -11px;}


strong, b {
  font-weight: 500;
  font-family: 'GalaxiePolarisCondensed-Bold', sans-serif;
}


.header-topbar.topbar--primary{
  background-color: #235732;
  color: #ffffff;
}

.section-dark a:not(.btn),
.section-dark a:not(.video-play-btn) {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: 'GalaxiePolarisCondensed-Bold', sans-serif;
}

label:not(.checkbox-label){
  font-family: 'GalaxiePolarisCondensed-Bold', sans-serif;
}


input {
  filter: none !important;
}


input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}


.bold{
  font-family: 'luxurySaleFont5', sans-serif;
  color: #222;
}

.l-f1 {
  font-family: "Farfetch Basis",sans-serif !important;
  font-weight: 700  !important
}


.header-middle{
  padding: 0px;
}

.logo{
  width: 300px !important;
}


.header{  background-color: #fff;}


.header-top {
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  background-color: #222;
  color: #fff;
}


.header-bottom .container::before{
  border-top: 0px;
}


.dropdown-arrow::after{
  content: "";
}


.main-nav > ul > li > a {
  font-family: "Farfetch Basis",sans-serif;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
  color: #222;
  font-size: 13px;
}


.main-nav .menu > li > a{font-size: 15px;}

.menu.sf-arrows > li > .sf-with-ul::after {
  content: '';
  position: static;
  margin-left: 5px;
  font-weight: 700;
}


.main-nav .menu .megamenu.megamenu-fixed-width  a.category-heading {
  font-family: luxurySaleFont4,sans-serif;
  color: #222;
  font-weight: 700 !important;
}


.menu .megamenu .submenu a {
  font-family: "Farfetch Basis",sans-serif;
  color: black;
  font-weight: 700 !important;
}


.main-nav .menu .megamenu {
  top: 100%;
  left: -15px;
  border-top: none;
}


.menu .megamenu {
  box-shadow: none;
}


.menu li > a {
  color: #000;
  text-transform: capitalize !important;
}

.main.main-page{margin-top:117px;}



.dropdown-cart-products {
  height: 200px;
  overflow: auto;
}

.reduce-gutters{
  padding-left: 5px !important;
  padding-right: 5px !important;
}


.feature-boxes-container{background: #fff;}
.feature-box i {
  color: #000000;
  font-size: 3rem;
}


.form-control {
  height: 5rem;
  padding: 2rem;
  background-color: #fff;
  color: #777;
  font-family: "Farfetch Basis",sans-serif;
}

select.form-control:not([size]):not([multiple]) {
  height: 5.3rem;
  padding: 1rem;
  padding-right: 4rem;
}


.form-group-custom-control .custom-control-label {
  font-family: 'GalaxiePolarisCondensed-Bold', sans-serif;
}


.btn {
  padding: 1rem 4.2rem;
  font-family: "Farfetch Basis",sans-serif;
  line-height: 1.429;
}

.btn-primary:hover{
  background: #222 !important;
  border: #222 !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary.focus {
  border-color: #000000;
  background-color: #000000;
  color: #fff;
  box-shadow: none;
}


/*
  Carousel
*/

.main-banner-slider .owl-dots {
  margin-top: -30px !important;
}




.banner-box a{ display: block;}
.banner-box a img{ width: 100%;}


/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 25px;
  height: 24px;
  width: 100%;
  clear: both;
}



.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  /*border-radius: 5px;*/
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 1px solid #d8d8d8;
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #000000;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: transparent;
}

/*.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #FFFFFF;
}*/


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


/*.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
  content: "";
  opacity: 1;
  left: 5px;
  top: 1px;
  width: 2px;
  height: 5px;
  background-color: #fff;
  border-width: 0 2px 2px 0;
border-radius: 0;
background: white;
}*/

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 6px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  background-color: transparent;
  border-radius: 0;
}


.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label-text {
  position: absolute;
  color: #424242;
  top: -4px;
  left: 26px;
  font-size: 13px;
  font-weight: normal;
}

/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom.circular::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}


.checkbox-label .checkbox-custom.circular::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular::before {
  border-radius: 50%;
}

.sidebar-shop .widget-title {
  margin: 0;
  color: #313131;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.4;
  text-transform: uppercase;
}

.sidebar-shop .widget-title a::before, .sidebar-shop .widget-title a::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 2.5px;
  margin-top: -1px;
  transition: all .35s;
  background: #222529;
  content: '';
  font-size: 2rem;
}

.product-default {
  color: #777;
  margin-bottom: 2rem;
}

.sidebar-shop .widget{
  border: none !important;
}

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .1;
  transition: .5s ease;
  background-color: #000000;
  z-index: 100;
}


.product-overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.inner-quickview figure .btn-quickview {
  visibility: visible !important;
  opacity: 1 !important;
  padding: .5rem;
}

/**
  Banners 
**/



.portfolio-interior {
  height: 390px;
  overflow: hidden;
}


.shop-title.position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}


.active-attribute{
  border: 3px solid #222;
}


.active-other-attribute{
  background-color: #222;
  color: #fff; 
}

.modal-dialog {
  max-width: 580px;
}



.widget-scroll{
  height: 250px;
  overflow: auto;
}


.product-single-details .product-title {
  font-family: "Farfetch Basis",sans-serif;
  font-size: 1.3rem;
}

.product-single-details .brand-name {
  font-size: 1.9rem;
  font-weight: 400;
}


.product-item-prices .product--price--amount {
  width: 33%;
  position: relative;
}


.product-item-prices .product--price--amount:first-child span:nth-of-type(2){
  font-weight: 900;
  font-family: 'Polaris-Bold', sans-serif;
  font-size:1.3rem;
}

.product--price--amount span:first-child, .product--price--amount span:nth-of-type(3){
  display: block;
  font-size: 11px;
  color: #000000;
}

.product--price--amount.retail span:nth-of-type(2){
  color: #939393;
  text-decoration: line-through;
  font-weight: 100;
  font-size: 1.3rem;
}

.product--price--amount.retail span:nth-of-type(3){
  text-indent: -10000px;
}

.product--price--retail span.retail-title {
  color: rgb(207, 123, 123);
  font-size: 11px;
  text-transform: uppercase;
}

.product-single-tabs .tab-pane{
  padding-top: .5rem;
}

.product-desc-content.pl-2.pb-2.color--primary ul {
  list-style-type: square;
}

.prod-full-screen i {
  font-size: 2.5rem;
}

.other-attribute {
  margin-top: 5px;
}


.product-thumbnails {
  margin-top: -40px;
}


.inner:hover .prod-full-screen{
  opacity: 1;
}

.product-default .product-label.label-hot {
  background-color: burlywood;
}

.image-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff; /* Fallback color */
  background-color: #fff; /* Black w/ opacity */
}

.image-modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.image-modal .close:hover,
.image-modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow .75s linear infinite;
  animation: spinner-grow .75s linear infinite;
}


.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}



.loader {
  left: 50%;
  margin-left: -4.5em;
  font-size: 10px;
  border: .8em solid #ccc;
  border-left: .8em solid #000000;
  animation: spin 1.1s infinite linear;
  z-index: 1000;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 9em;
  height: 9em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.5em;

}

.tls-loading-text{
  left: 48%;
  position: absolute;
  top: 45%;
  font-size: 35px;
}

@keyframes spin {
0% {
  transform: rotate(360deg);
}
100% {
  transform: rotate(0deg);
}
}


.prod-thumbnail {
  display: block;
  margin: 3px -3px 0;
}


.prod-thumbnail-under {
  margin: 3px -3px 0;
}


.prod-thumbnail-under {
  display: flex !important;
  display: -ms-flexbox;
  margin: 3px -3px 0;
}



.payment-image{
  display: inline-block;
}

.payment-image img{
  width: 60px;
}

.payment-image.f img{
  width: 50px;
}




.full-bg{
	height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}

/* Position text in the middle */
.signup--middle {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color:#ffffff; 
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	z-index: 1;
}

.payment-icons.d-flex > div {
  max-width: 50px;
}


.payment-icons .ms {
  width: 30px;
}


.shipping-address-info {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
}


span .social-icon {
  width: 3rem;
  background-color: #fff;
  color: #000;
}

.footer .widget-newsletter .btn {
  padding: 1.2rem 2.475rem;
  border-radius: 5rem;
  font-size: inherit;
  font-family: "Farfetch Basis",sans-serif;
  right: 100px;
  position: absolute;
  background-color: #222;
  margin-top: -4.5rem;
}

.footer .widget-newsletter .form-control {
  height: 4.4rem;
  padding: .8rem 2.5rem;
  border: 0;
  border-radius: 5rem;
  background: #292c30;
  color: #777;
  font-size: inherit;
  width: 80%;
}


footer a , footer p{
  color: #ffffff;
  font-family: "Farfetch Basis",sans-serif;
  font-weight: 300 !important;
}

footer a{
  font-size: 15px;
}


footer a:hover, footer a:focus {
  color: #fff;
}

.footer {
  background: #000;
}

@media only screen and (max-width: 850px) {
  .footer .widget-newsletter .btn{right: 10px;}
  .main.main-page{margin-top:50px;
}

@media only screen and (max-width: 600px) {
  .portfolio-thumb-brand {
    height: 250px;
    overflow: hidden;
  }

  .portfolio-interior {
    height: 150px;
    overflow: hidden;
  }

  .tls-loading-text{
    left: 44%;
    top: 46%;
  }
  .footer .widget-newsletter .btn{right: 10px;}
  .main.main-page{margin-top:50px;}
}



